<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erro 401 - Falha na Autenticação</title>
</head>
<body>
  <div class="container">
    <img src="../images/erro-boneco.gif" alt="">
    <h1>Erro</h1>
    <p>Oops! Parece que você não pode acessar esta página.</p>
    <p>Por favor, <a href="javascript:history.back()">clique aqui</a> para voltar à página anterior.</p>
  </div>
  <style>
        body {
      font-family: Arial, sans-serif;
      /* background: linear-gradient(to bottom right, #ff1515, #ff151587);  */
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      text-align: center;
    }
    h1 {
      color: #007bff;
    }
    p {
      color:black;
    }
    a {
      color: #007bff;
      text-decoration: none;
    }

    img{
      width: 30%;
    }
  </style>
</body>
</html>
