<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erro 401 - Falha na Autenticação</title>
</head>
<body>
  <div class="container">
    <img src="../images/erro-400.webp" alt="">
   <p>Falha na conexão!</p>
   <p>Verifique a conexão e tente novamente.</p>
    <p> <a href="../index.html">Clique aqui</a> para voltar.</p>
  </div>
  <style>
        body {
      font-family: Arial, sans-serif;
      /* background: linear-gradient(to bottom right, #ff1515, #ff151587);  */
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      text-align: center;
    }
    h1 {
      color: #007bff;
    }
    p {
      color:black;
    }
    a {
      color: #007bff;
      text-decoration: none;
    }

    img{
      width: 70%;
    }

 
  </style>
</body>
</html>
